.fa-bars{display:block; color:#fff; font-size:22px;position:fixed; right:35px; top:39px; z-index:999999;}
#nav{text-align:center; background-color:rgba(98,96,95,0.5); position:fixed; width:100%; z-index:99999;
}
.navs{height:100px; text-align:center;}
.navs>li{float:left; width:20%;}
.navs>li>a{width:100%; height:inherit; display:inline-block; line-height:100px; color:#fff; text-align:center;}
.navs>li:nth-child(3)>a{background-color:rgba(255,197,0,0.7); width:25px; height:50px; border-radius: 50px  0 0 50px; margin:25px 50px 0 50px; padding:0;}
.navs>li>a:hover{color:#ffb300; background-color:rgba(0,0,0,0.4);}
.navs .navs_menu{border:1px solid rbga(0,0,0,0.7);
display:none;}
.navs_menu>li>a{padding:0.7em 0; display:block;}
.navs_menu>li>a:hover{background-color:rgba(0,0,0,0.9)}
#header{background-color:#474646; height:100%; width:100%;position:relative; overflow:hidden;}
#header>.l_img{position:absolute; top:300px; left:-33px;max-width:550px; z-index:9;}
#header>.r_img{position:absolute;right:-33px; top:120px; max-width:550px;}
.l_img, .r_img{animation-name:h_img; animation-duration: 1.5s; animation-fill-mode: backwards; animation-timing-function: ease-in}
#header>.h_txt{position:absolute; width:70%; height:100%; right:0;}
.h_txt>div{display:table; width:100%; height:100%; }
.h_txt>div>div{display:table-cell; vertical-align: middle;}
.h_txt h1{color:#fff; font-weight:500;}

#header>.h_circle{position:absolute;  width:100%; bottom:-33px; animation-name:h_circle; 
     animation-duration: 1s; animation-fill-mode: backwards; animation-timing-function:ease-out}


#about_me{width:100%;background-color:#7c7a77; height:100%;}
#about_me>.row{padding:0 200px; display:table; height:100%;}
#about_me>.row>.table-cell{display:table-cell; vertical-align: middle}
.me_img{opacity:0.6}
#about_me .me_left, #about_me .me_right{width:48%;}
#about_me .me:not(.me_1){width:100%;  margin-top: 1rem;
padding:10px 20px;; }
.me_left>.me_3>p>i{color:#ffb300;}
.me_right>.me_5>p{width:50%;}
.me_bottom>.skills>.range_bg{width:80%; background-color:#fff; height:1.2rem; position:relative; margin-top:5px;}
.me_bottom>.software, .me_bottom>.skills{width:48%;}
.me_bottom>.software>.softwares>div{width:25%; text-align:center; margin-bottom:10px;}
.me_bottom>.software>.softwares>div:nth-child(5){width:100%;}
.softwares .chart_wrap{width:25%;}
.softwares{margin-top:1rem;}
.range_bg>.range{background-color:#ffb300; height:1.2rem;position:absolute;
animation:1.5s range linear; animation-fill-mode:forwards }

#web{background-color:#474646; padding:100px 0; height:100%;
position:relative;}
.web_right{transform:rotate(-90deg); text-align:center; width:200px; position:absolute; left:0; top:50%;
}
.web_right>.web_tit{color:#fff; margin-bottom:5px; font-size:1rem;}
.web_right>div{width:17px; height:17px; border-radius: 50%; background-color:#fff;
display:inline-block;}
.web_right>div:nth-child(2){background-color:#f16521}
.web_right>div:nth-child(3){ background-color:#000;}
#web .web_img{margin:0 auto 50px; text-align:center;}
#web .desk_top{max-width:700px;  text-align:center;}
#web .button{border-radius:50%; font-size:20px; height:50px; width:50px; outline:none;}
.button>.fa{color:#666;}
#web .txt{width:45%;}
#web .txt>p{color:#fff; text-align:justify; font-size:0.9rem;}
#web .txt>p:nth-child(2){margin-bottom:20px;}
#web .txt>h5{color:#f16521;}


.poster{width:100%; overflow:hidden; padding-bottom:50px; background-color:#fff; }
.posters{width:3000px; padding:0 100px  }
.posters>a{float:left; margin:0 15px;}
.posters>a>img{max-height:250px;}
.posters>a>img:hover{opacity:0.7;}

#print{width:100%; height:100%; position:relative;background-color:#fffdf0;}
#print>.print_bg1, #print>.print_bg2{position:absolute;}
.print_bg2{right:20%;}
#print>.table{display:table; height:100%; width:100%;}
#print>.table>.table_cell{display:table-cell; vertical-align: middle; }
#print .print_nav>div{width:20px; border-top:2px solid #000;}
#print .print_nav>li{margin:10px 0;}
.print_left{width:25%;}
.print_center{width:50%; height:70%; position:relative}
.print_center>img{position:absolute;}
.print_center>img:last-child{right:0; top:10%}
.print_right{width:25%;padding-left:50px; position:relative;}
.print_right>#prev,.print_right>#next{border:1px solid #000; outline:none;
width:166px; height:45px; display:inline-block; margin:5px 0;}



#contact{width:100%; height:100%; position:relative;}
#contact>.l_circle{width:25%; height:100%; background-color:rgba(255,197,0,0.4); border-radius:100%; position:absolute;
 left:-12.5%; z-index:-1} 
#google_logout{display:none;}
#email {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%)}

@keyframes h_img{
    0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes h_circle{
    0%{bottom:-400px; opacity:0;}
    100%{bottom:0; opacity:1;}
}

@keyframes poster{
    0%{left:0}
    50%{left:-450px;}
    100%{left:0;}
}
@keyframes range{
    0%{width:0;}
    100%{width:85%;}
}
@media screen and (max-width:960px){
   
    #header>.l_img{max-width:400px; top:250px;}
    #header>.r_img{max-width:400px;}
    .navs{margin-top:75px; padding:0;}
    #nav{height:100% ; width:100%;}
    .navs>li:nth-child(3)>a{margin:25px 0;}
.navs>li{float:none; width:100%;}
}

