

/* .fa-bars{display:block; color:#fff; font-size:22px;position:fixed; right:35px; top:24px; z-index:999999;} */
#nav{text-align:center; background-color:#fdfbee; position:fixed; width:100%; z-index:99999; border-radius:0 0 20% 20%;
    box-shadow:1.5px 3px 3px rgba(0,0,0,0.1);
}
.navs{height:70px; text-align:center; }
.navs>li{float:left; width:20%;}
.navs>li>a{width:100%; height:inherit; display:inline-block; line-height:70px; color:#000; 
    font-weight:500; text-align:center;}
.navs>li:nth-child(3)>a{background-color:rgba(255,197,0,0.7); width:20px;
     height:40px; line-height:10px;
    border-radius: 50px  0 0 50px; margin:15px 50px 0 50px; padding:0;}
.navs>li:nth-child(3)>a>p{margin-left:29px; margin-top:5px; font-size:14px;color:#888;}
.navs>li>a:hover{color:#ffb300; background-color:rgba(0,0,0,0.4);}
.navs .navs_menu{border:1px solid rbga(0,0,0,0.7);
display:none;}
.navs_menu>li>a{padding:0.7em 0; display:block;}
.navs_menu>li>a:hover{background-color:rgba(0,0,0,0.9)}
#header{background-image: linear-gradient(#333,#474646); height:100%; width:100%;position:relative; overflow:hidden;}
#header>.l_img{position:absolute; top:300px; left:-33px;max-width:550px; z-index:9;}
#header>.r_img{position:absolute;right:-33px; top:120px; max-width:550px;}
.l_img, .r_img{animation-name:h_img; animation-duration: 1.5s; animation-fill-mode: backwards; animation-timing-function: ease-in}
#header>.h_txt{position:absolute; width:70%; height:100%; right:0;}
.h_txt>div{display:table; width:100%; height:100%; }
.h_txt>div>div{display:table-cell; vertical-align: middle;}
.h_txt h1{color:#fff; font-weight:500;}

#header>.h_circle{position:absolute;  width:100%; bottom:-33px; animation-name:h_circle; 
     animation-duration: 1s; animation-fill-mode: backwards; animation-timing-function:ease-out}

/* ABOUT ME */
#about_me{width:100%;background-color:#fdfbee; height:100%; position:relative; }
#about_me>.deco_bg{position:absolute; height:100%; width:100%;}
#about_me>.row{padding:0 200px; display:table; height:100%; position:absolute; z-index:3;
 left:50%; transform:translateX(-50%);}
#about_me>.row>.table-cell{display:table-cell; vertical-align: middle;
    width:100%}
.me_img{opacity:0.6}
#about_me .me_left, #about_me .me_right{width:48%;}
#about_me .me:not(.me_1){width:100%;  margin-top: 1rem;
padding:10px 20px;; }
.me_left>.me_3>p i{color:#ffb300;}
.me_right>.me_5>p{width:50%;}
.me_bottom>.skills>.range_bg{width:80%; background-color:#fff; height:1.2rem; position:relative; margin-top:5px;}

.me_bottom>.software, .me_bottom>.skills{width:48%;}
.me_bottom>.software>.softwares>div{width:25%; text-align:center; margin-bottom:5px;}
.me_bottom>.software>.softwares>div:nth-child(5){width:100%;}
.softwares .chart_wrap{width:25%;}
.softwares{margin-top:1rem;}
.softwares>div>p{font-size:13px; margin-top:2px; color:#000;}
.range_bg>.range{background-color:#ffb300; height:1.2rem;position:absolute;
animation-name:range; animation-duration: 1.5s; animation-fill-mode:forwards }
@keyframes range{
    0%{width:0}
    100%{width:90%;}
}
/* WEB */
#web{height:100%; position:relative;}
#web>.deco_bg{height:100%; width:100%; position:absolute; z-index:2;}
.web1{height:100%; background-color:#fff6e6}
.web_left{transform:rotate(-90deg); text-align:center; width:200px; position:absolute; left:0; top:50%;
    color:#fff; margin-bottom:5px; font-size:1rem;}
.web_right{transform:rotate(90deg); text-align:center; width:200px; position:absolute; right:0; top:50%;
  color:#fff; margin-bottom:5px; font-size:1rem;}    
.web_top{background-color:#f8b007; width:100%; height:65%;color:#fff; padding-top:5%;
position:relative; border-radius: 0 0 15% 15%;}
.web1_cont>.line{width:132px; height:5px; background-color:#f16521; margin-bottom:10px;}
.web_bottom{height:35%;}
.web_imgs{text-align:center;}
.web_img{text-align:center; height:300px; }
.button_p{position:absolute; bottom:1%; left:20%; z-index:3 }
.button_n{position:absolute; bottom:1%; right:20%; z-index:3 }
/* web_bottom */
.web_bottom{background-color:#fff6e6;}
.web_bottom>.row{padding-top:2%;}
.web1_txt1{width:45%; height:70%;float:left;}
.web1_txt1>p{color:#000; text-align:justify; font-size:0.9rem;}
.web1_txt1>p:nth-child(2){margin-bottom:20px;}
.web1_txt1>h5{color:#f16521; font-weight:500;}
.web1_txt2, .web1_txt3{float:left; width:22.25%; margin-left:5%;}
.web1_txt2>h5{color:#f16521; font-weight:500;}
.web1_txt2>p>span:nth-child(1){display:inline-block; width:15px; height:15px; 
border-radius:50%; margin:0 5px;}
.web1_txt2>p:nth-of-type(1){color:#fff; background-color:rgba(0,0,0,0.2)}
.web1_txt2>p:nth-of-type(2){color:#f16521; background-color:#fff;}
.web1_txt2>p:nth-of-type(3){background-color:#fff;}
.dot_1{background-color:#fff;}
.dot_2{background-color:#f16521}
.dot_3{background-color:#000;}
.web1_txt3>h5{color:#f16521; font-weight:500;}
/* print */
#print{background:url(../image/prm_bg.jpg) no-repeat center; 
    width:100%; height:100% ; background-size:cover; position:relative;}

#print h3{color:#fff; font-weight:500;padding-top:85px;}
 #print .line{width:132px; height:5px; background-color:#fad045; margin-bottom:10px;}
.print_img{position:absolute; top:50%; left:50%; transform:translate(-43%,-40%);
animation:tv_ani 1s ease-in infinite forwards;}
.print_img img{max-width:950px;}
.pr_tit{font-size:3.7em;color:#fad045; background-color:rgba(0,0,0,0.5);
font-weight:500; font-weight:500; padding:0.1em 0.5em;
position:absolute; display:inline-block; top:50%; left:49%; transform:translate(-50%,-50%)}
@keyframes tv_ani{
    0%{top:49%;}
    50%{top:50%;}
    100%{top:49%}
}

#contact{width:100%; height:100%; position:relative;}
.poster{width:100%; overflow:hidden; background-color:#ffe5a8;height:30%;}
.posters{width:3000px; padding:0 100px  }
.posters>a{float:left; margin:0 15px;}
.posters>a>img{max-height:250px;}
.posters>a>img:hover{opacity:0.7;}
.contacts{background-color:#ffcd56; height:70%; width:100%; }
.contacts>.row{height:100%;}
#google_logout{display:none;}
#email {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%)}
.ct_lt{float:left; width:40%;}
.ct_lt>h3{color:#fff; font-weight:500;}
.ct_lt>.line{background-color:#ee2e37; width:132px; height:5px;}
.ct_ct{float:left;width:10%; height:100%;}
.ct_ct>.tb{display:table; width:100%; height:100%; text-align:center;}
.ct_ct>.tb>.tb_cell{display:table-cell; vertical-align: middle;}
.ct_ct img{max-width:124px;}
.ct_rt{float:right;width:40%; height:100%;  margin-top:2%;}
.ct_rt .ct_bt{width:115px; height:35px; border-radius: 7px 7px 0 0; font-size:14px;
border:0; outline:none;}
#google_login{background-color:#fff; font-size:1;}
#google_logout{display:none;}
#facebook_login{color:#fff; background-color:#6f6fb2;}
#facebook_login>i{margin-right:5px;}
.ct_rt>.ct_wrap{
    height:70%; background-color:#fff; border-radius:0 6% 6% 6%; width:70%;}

@keyframes h_img{
    0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes h_circle{
    0%{bottom:-400px; opacity:0;}
    100%{bottom:0; opacity:1;}
}

@keyframes poster{
    0%{left:0}
    50%{left:-450px;}
    100%{left:0;}
}
@keyframes range{
    0%{width:0;}
    100%{width:85%;}
}
@media screen and (max-width:1280px){
    #web .desk_top{max-width:500px;}
    #web{padding:40px 0;}
    .web_right, .web_left{display:none;}
    .print_left img{max-width:300px;}
}
@media screen and (max-width:960px){
   
    #header>.l_img{max-width:400px; top:250px;}
    #header>.r_img{max-width:400px;}
    .navs{margin-top:75px; padding:0;}
    #nav{height:100% ; width:100%;}
    .navs>li:nth-child(3)>a{margin:25px 0;}
.navs>li{float:none; width:100%;}
}

